@charset "UTF-8";

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 750;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow1:before {
  content: "\e901";
}

._icon-cacao:before {
  content: "\e902";
}

._icon-calendar:before {
  content: "\e903";
}

._icon-envelope:before {
  content: "\e904";
}

._icon-facebook:before {
  content: "\e905";
}

._icon-headphone:before {
  content: "\e906";
}

._icon-massager:before {
  content: "\e907";
}

._icon-phone:before {
  content: "\e908";
}

._icon-phone2:before {
  content: "\e909";
}

._icon-youtube:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "AvenirNextCyr";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "AvenirNextCyr";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.34375rem 1.65625rem;
  font-weight: 750;
  font-size: 0.75rem;
  line-height: 1.25;
  /* 15/12 */
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #4ABCEC;
  border: 1px solid #00E0FF;
  -webkit-box-shadow: 0px 7px 20px -7px #00E0FF;
          box-shadow: 0px 7px 20px -7px #00E0FF;
  border-radius: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:active {
  -webkit-box-shadow: 0px 7px 10px -7px #00E0FF;
          box-shadow: 0px 7px 10px -7px #00E0FF;
  -webkit-transform: translate(0.03125rem, 0.03125rem);
      -ms-transform: translate(0.03125rem, 0.03125rem);
          transform: translate(0.03125rem, 0.03125rem);
}

.button._fw {
  width: 100%;
}

.button--blue {
  padding: 0.8125rem 1.4375rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13CDC2));
  background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
  -webkit-box-shadow: 0px 7px 20px -7px #00E0FF;
          box-shadow: 0px 7px 20px -7px #00E0FF;
  border-radius: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  color: #FFFFFF;
}

.button--blue:active {
  -webkit-box-shadow: 0px 7px 10px -7px #00E0FF;
          box-shadow: 0px 7px 10px -7px #00E0FF;
  -webkit-transform: translate(0.03125rem, 0.03125rem);
      -ms-transform: translate(0.03125rem, 0.03125rem);
          transform: translate(0.03125rem, 0.03125rem);
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label:before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 1.3125rem;
  -webkit-box-shadow: 0px -0.25rem 0.625rem rgba(74, 217, 236, 0.75);
          box-shadow: 0px -0.25rem 0.625rem rgba(74, 217, 236, 0.75);
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #4ABCEC;
  -webkit-box-shadow: 0px 0.25rem 0.625rem rgba(74, 217, 236, 0.75);
          box-shadow: 0px 0.25rem 0.625rem rgba(74, 217, 236, 0.75);
  border-radius: 50%;
  position: absolute;
  top: 0.375rem;
  right: 0.3125rem;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox__label::after {
  content: "";
  width: 1.25rem;
  height: 2.3125rem;
  border: 0.0625rem solid #4A8BEC;
  border-radius: 0.9375rem;
  position: relative;
  top: 0;
  right: 0;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 450;
  line-height: 1.2;
  /* 66/54 */
  text-transform: uppercase;
}

.title span {
  color: #4ABCEC;
}

.title-blue {
  font-weight: 750;
  line-height: 1.3;
  /* 21/16 */
  color: #4ABCEC;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.code {
  margin-left: 100px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: red;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.2;
  /* 12/10 */
  letter-spacing: 0.36em;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #747D81;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.main {
  position: relative;
  background: -o-linear-gradient(163.59deg, #022335 3.63%, #043A41 90.98%);
  background: linear-gradient(286.41deg, #022335 3.63%, #043A41 90.98%);
  -webkit-box-shadow: inset 0px -20px 24px -10px rgba(0, 224, 255, 0.4);
          box-shadow: inset 0px -20px 24px -10px rgba(0, 224, 255, 0.4);
}

.main__container {
  position: relative;
}

.main__logo-line {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.875rem 0rem;
}

.main__logo img {
  max-width: 100%;
}

.main__tel-link,
.main__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.22;
  /* 22/18 */
}

.main__tel-link::before,
.main__tel::before {
  content: "";
  width: 1.5625rem;
  height: 1.5625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  background: url("../img/main/tel.svg") 0 0/100% no-repeat;
}

.main__tel-link {
  display: none;
}

.main__content {
  position: relative;
  z-index: 1;
}

.main__whatsapp,
.main__headphone {
  position: absolute;
  width: 6.25rem;
  top: 8.25rem;
  left: 3%;
  /* 104/1920 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.25rem;
  z-index: 5;
}

.main__whatsapp {
  display: none;
}

.main__icon-app,
.main__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__icon-app::before,
.main__icon::before {
  position: relative;
  z-index: 1;
}

.main__icon-app::after,
.main__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13CDC2));
  background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 7px 20px -7px #00E0FF;
          box-shadow: 0px 7px 20px -7px #00E0FF;
}

.main__icon-app span,
.main__icon span {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  opacity: 0.05;
  border-radius: 50%;
  -webkit-animation-name: headphone;
          animation-name: headphone;
  /*
  Відповідає за тривалість анімації.
  */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /*
  Встановлює сценарій розвитку анімації між ключовими кадрами.
  */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /*
  Відповідає за повтор відтворення ключових кадрів.
  */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*
  Визначає напрямок та тип відтворення ключових кадрів.
  normal - за замовченням
  */
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  /*
  animation-play-state
  Дозволяє запускати або зупиняти анімацію за подією.
  */
  -webkit-animation-play-state: running;
          animation-play-state: running;
  /*
  Відповідає за затримку перед відтворенням.
  */
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  /*
  Визначає,
  які значення анімованих css властивостей 
  застосовуються до об'єкта після завершення анімації.
  */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@-webkit-keyframes headphone {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes headphone {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.main__signature {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: #00E0FF;
}

.content__hi {
  font-weight: 600;
  line-height: 1.22;
  /* 22/18 */
  color: #747D81;
}

.content__title {
  font-weight: 600;
  line-height: 1.22;
  /* 132/108 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.75%, #FFFFFF), to(#1A3031));
  background: -o-linear-gradient(top, #FFFFFF 31.75%, #1A3031 100%);
  background: linear-gradient(180deg, #FFFFFF 31.75%, #1A3031 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.content__text {
  line-height: 1.22;
  max-width: 36.25rem;
  /* 22/18 */
}

.content__guarantee {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 36rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  z-index: 1;
}

.content__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.4375rem;
          flex: 0 0 4.4375rem;
  height: 4.4375rem;
  padding: 1.125rem 1rem 0.875rem 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 224, 255, 0.11)), to(rgba(0, 224, 255, 0.0539)));
  background: -o-linear-gradient(top, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
  border-radius: 12px;
}

.content__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/main/before.svg") 0 0/100% no-repeat;
}

.content__image img {
  width: 100%;
}

.label {
  line-height: 1.22;
}

.label__item {
  font-weight: 750;
}

.label__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.label__text-item {
  font-weight: 450;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgb(0, 224, 255)), to(rgb(74, 188, 236)));
  background: -o-linear-gradient(top, rgb(0, 224, 255) 100%, rgb(74, 188, 236) 100%);
  background: linear-gradient(180deg, rgb(0, 224, 255) 100%, rgb(74, 188, 236) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 5.625rem;
  left: 0;
  position: relative;
  z-index: 1;
}

.check__code {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: red;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.2;
  /* 12/10 */
  letter-spacing: 0.36em;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #747D81;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor * {
  position: absolute;
}

.no-webp .decor__image-1{
  background: url("../img/main/01.png") 0 0/100% no-repeat; }

.decor__image-1 {
  width: 75.6875rem;
  height: 48.5rem;
  left: 48.5%;
  top: 14.442231%;
  /* 145/1004 */
  /* 597/1230 */
  mix-blend-mode: lighten;
}

.decor__image-1 img {
  max-width: 100%;
}

.no-webp .decor__image-2{
  background: url("../img/main/03.png") 0 0/100% no-repeat; }

.decor__image-2 {
  mix-blend-mode: lighten;
  width: 75.6875rem;
  height: 22.25rem;
  top: 63.645418%;
  /* 639/1004 */
  left: -98%;
  /* 1257/1230 */
}

.decor__image-2 img {
  max-width: 100%;
}

.no-webp .decor__image-3{
  background: url("../img/main/02.png") 0 0/100% no-repeat; }

.decor__image-3 {
  mix-blend-mode: lighten;
  width: 41.75rem;
  height: 20.25rem;
  top: -19.023904%;
  /* 191/1004 */
  left: 22.520325%;
  /* 277/1230 */
}

.decor__image-3 img {
  max-width: 100%;
}

.decor__ellipse-11 {
  width: 28.1875rem;
  height: 28.1875rem;
  background-color: #00E0FF;
  opacity: 0.28;
  -webkit-filter: blur(123.5px);
          filter: blur(123.5px);
  left: 33.170732%;
  /* 408/1230 */
  top: 82.270916%;
  /* 826/1004 */
}

.decor__ellipse-12 {
  width: 27.375rem;
  height: 27.375rem;
  background-color: #00E0FF;
  opacity: 0.16;
  -webkit-filter: blur(123.5px);
          filter: blur(123.5px);
  left: 63.170732%;
  /* 777/1230 */
  top: 24.203187%;
  /* 243/1004 */
}

.decor__ellipse-13 {
  width: 19.0625rem;
  height: 19.0625rem;
  background-color: #00E0FF;
  opacity: 0.32;
  -webkit-filter: blur(123.5px);
          filter: blur(123.5px);
  left: 94.634146%;
  /* 1164/1230 */
  top: 57.071713%;
  /* 573/1004 */
}

.decor__ellipse-14 {
  width: 27.375rem;
  height: 27.375rem;
  background-color: #00E0FF;
  opacity: 0.16;
  -webkit-filter: blur(123.5px);
          filter: blur(123.5px);
  left: -10.569106%;
  top: -22.011952%;
  /* 221/1004 */
  /* 130/1230 */
}

.decor__blic {
  position: relative;
  left: 63.739837%;
  /* 784/1230 */
  top: 22.709163%;
  /* 228/1004 */
  width: 44.5rem;
  height: 43.0625rem;
}

.blic * {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
}

.blic__ellipse-15 {
  left: 52.808989%;
  /* 376/712 */
  top: 54.281567%;
  /* 374/689 */
  background-color: #00E0FF;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation-name: ellipse-15;
          animation-name: ellipse-15;
  /*
  	Відповідає за тривалість анімації.
  	*/
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  /*
  	Встановлює сценарій розвитку анімації між ключовими кадрами.
  	*/
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /*
  	Відповідає за повтор відтворення ключових кадрів.
  	*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*
  	Визначає напрямок та тип відтворення ключових кадрів.
  	normal - за замовченням
  	*/
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  /*
  	Відповідає за затримку перед відтворенням.
  	*/
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ellipse-15 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes ellipse-15 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.blic__ellipse-16 {
  background: #00E0FF;
  -webkit-filter: blur(15.5px);
          filter: blur(15.5px);
  left: 22.47191%;
  /* 160/712 */
  top: 91.001451%;
  /* 627/689 */
  -webkit-animation-name: ellipse-16;
          animation-name: ellipse-16;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes ellipse-16 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(15.5px);
            filter: blur(15.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(5.5px);
            filter: blur(5.5px);
  }
}

@keyframes ellipse-16 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(15.5px);
            filter: blur(15.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(5.5px);
            filter: blur(5.5px);
  }
}

.blic__ellipse-17 {
  background: #00E0FF;
  -webkit-filter: blur(9.5px);
          filter: blur(9.5px);
  left: 78.230337%;
  /* 557/712 */
  top: 5.079826%;
  /* 35/689 */
  -webkit-animation-name: ellipse-17;
          animation-name: ellipse-17;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes ellipse-17 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(9.5px);
            filter: blur(9.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(3.5px);
            filter: blur(3.5px);
  }
}

@keyframes ellipse-17 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(9.5px);
            filter: blur(9.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(3.5px);
            filter: blur(3.5px);
  }
}

.blic__ellipse-18 {
  background: #FFC700;
  -webkit-filter: blur(9px);
          filter: blur(9px);
  left: 6.460674%;
  /* 46/712 */
  top: 54.862119%;
  /* 378/689 */
  -webkit-animation-name: ellipse-18;
          animation-name: ellipse-18;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ellipse-18 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes ellipse-18 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

.blic__ellipse-19 {
  background: #00E0FF;
  -webkit-filter: blur(9px);
          filter: blur(9px);
  left: 70.786517%;
  /* 504/712 */
  top: 39.187228%;
  /* 270/689 */
  -webkit-animation-name: ellipse-19;
          animation-name: ellipse-19;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes ellipse-19 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes ellipse-19 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

.blic__ellipse-20 {
  background: rgba(0, 225, 255, 0.815);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  left: 97.47191%;
  /* 694/712 */
  top: 72.133527%;
  /* 497/689 */
  -webkit-animation-name: ellipse-20;
          animation-name: ellipse-20;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes ellipse-20 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(0, 225, 255, 0.815);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(0, 225, 255);
  }
}

@keyframes ellipse-20 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(0, 225, 255, 0.815);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(0, 225, 255);
  }
}

.blic__ellipse-21 {
  background: #00E0FF;
  -webkit-filter: blur(12.5px);
          filter: blur(12.5px);
  left: 0.421348%;
  /* 3/712 */
  top: 40.493469%;
  /* 279/689 */
  -webkit-animation-name: ellipse-21;
          animation-name: ellipse-21;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes ellipse-21 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(12.5px);
            filter: blur(12.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(5.5px);
            filter: blur(5.5px);
  }
}

@keyframes ellipse-21 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(12.5px);
            filter: blur(12.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(5.5px);
            filter: blur(5.5px);
  }
}

.blic__ellipse-22 {
  background: #FFB800;
  -webkit-filter: blur(10.5px);
          filter: blur(10.5px);
  left: 10.252809%;
  /* 73/712 */
  top: 26.560232%;
  /* 183/689 */
  -webkit-animation-name: ellipse-22;
          animation-name: ellipse-22;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes ellipse-22 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(10.5px);
            filter: blur(10.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4.5px);
            filter: blur(4.5px);
  }
}

@keyframes ellipse-22 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(10.5px);
            filter: blur(10.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4.5px);
            filter: blur(4.5px);
  }
}

.blic__ellipse-23 {
  background: rgba(248, 226, 29, 0.678);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  left: 41.432584%;
  /* 295/712 */
  top: 6.386067%;
  /* 44/689 */
  -webkit-animation-name: ellipse-23;
          animation-name: ellipse-23;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes ellipse-23 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(248, 226, 29, 0.678);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(248, 226, 29);
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
}

@keyframes ellipse-23 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(248, 226, 29, 0.678);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(248, 226, 29);
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
}

.blic__ellipse-24 {
  background: #00E0FF;
  -webkit-filter: blur(11.5px);
          filter: blur(11.5px);
  left: 5.196629%;
  /* 37/712 */
  /* 1/712 */
  top: 0.145138%;
  /* 1/689 */
  -webkit-animation-name: ellipse-24;
          animation-name: ellipse-24;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes ellipse-24 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(11.5px);
            filter: blur(11.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(3.5px);
            filter: blur(3.5px);
  }
}

@keyframes ellipse-24 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(11.5px);
            filter: blur(11.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(3.5px);
            filter: blur(3.5px);
  }
}

.blic__ellipse-25 {
  background: rgba(255, 255, 255, 0.53);
  -webkit-filter: blur(3.5px);
          filter: blur(3.5px);
  left: 1.404494%;
  /* 10/712 */
  top: 81.422351%;
  /* 561/689 */
  -webkit-animation-name: ellipse-25;
          animation-name: ellipse-25;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ellipse-25 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(255, 255, 255, 0.53);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(255, 255, 255);
  }
}

@keyframes ellipse-25 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(255, 255, 255, 0.53);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(255, 255, 255);
  }
}

.blic__ellipse-26 {
  background: rgba(0, 225, 255, 0.603);
  -webkit-filter: blur(8.5px);
          filter: blur(8.5px);
  left: 73.314607%;
  /* 522/712 */
  top: 97.532656%;
  /* 672/689 */
  -webkit-animation-name: ellipse-26;
          animation-name: ellipse-26;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes ellipse-26 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(0, 225, 255, 0.603);
    -webkit-filter: blur(8.5px);
            filter: blur(8.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(0, 225, 255);
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
  }
}

@keyframes ellipse-26 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: rgba(0, 225, 255, 0.603);
    -webkit-filter: blur(8.5px);
            filter: blur(8.5px);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgb(0, 225, 255);
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
  }
}

@media (min-width: 78.75em) {
  .title {
    font-size: 3.375rem;
  }

  .main__logo {
    width: 17.9375rem;
  }

  .main__content {
    padding-top: 6.875rem;
  }

  .main__content {
    padding-bottom: 11.0625rem;
  }

  .main__whatsapp,
  .main__headphone {
    width: 6.25rem;
  }

  .main__icon-app,
  .main__icon {
    padding: 1.875rem;
  }

  .main__icon-app::before,
  .main__icon::before {
    font-size: 2.5rem;
  }

  .main__icon-app::after,
  .main__icon::after {
    width: 6.25rem;
  }

  .main__icon-app::after,
  .main__icon::after {
    height: 6.25rem;
  }

  .main__icon-app span,
  .main__icon span {
    width: 6.25rem;
  }

  .main__icon-app span,
  .main__icon span {
    height: 6.25rem;
  }

  .content__hi {
    font-size: 1.125rem;
  }

  .content__hi {
    margin-bottom: 0.0000000625rem;
  }

  .content__title {
    font-size: 6.75rem;
  }

  .content__text {
    font-size: 1.125rem;
  }

  .content__text:not(:last-child) {
    margin-bottom: 4.8125rem;
  }

  .content__guarantee {
    gap: 2.0625rem;
  }

  .content__guarantee {
    margin-bottom: 6.25rem;
  }

  .label {
    font-size: 1.125rem;
  }
}

@media (max-width: 96.875em) {
  .main__whatsapp,
  .main__headphone {
    left: calc(100% - 6.25rem);
    top: calc(100% - 22.5rem);
  }

  .main__signature {
    display: none;
  }
}

@media (max-width: 63.99875em) {
  .check {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .main__whatsapp,
  .main__headphone {
    left: calc(100% - 4.875rem);
  }

  .main__whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: calc(100% - 4.875rem);
    top: calc(100% - 16.25rem);
  }
}

@media (max-width: 37.5em) {
  .main__tel-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__tel-link::before {
    width: 2.3125rem;
    height: 2.1875rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.1875rem;
            flex: 0 0 2.1875rem;
  }

  .main__tel {
    display: none;
  }

  .decor__image-1 {
    left: 0.9375rem;
    width: 29.6875rem;
    height: 17.75rem;
    top: 55%;
  }

  .decor__image-2 {
    display: none;
  }

  .decor__image-3 {
    display: none;
  }

  .decor__blic {
    left: 0.9375rem;
    width: 29.6875rem;
    height: 17.75rem;
    top: 55%;
  }
}

@media (max-width: 29.99875em) {
  .content__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.0625rem;
            flex: 0 0 3.0625rem;
    height: 3.0625rem;
  }
}

@media (max-width: 22.5em) {
  .title {
    font-size: 1.875rem;
  }

  .main__logo {
    width: 12.1875rem;
  }

  .main__content {
    padding-top: 2.25rem;
  }

  .main__content {
    padding-bottom: 4.6875rem;
  }

  .main__whatsapp,
  .main__headphone {
    width: 3.9375rem;
  }

  .main__icon-app,
  .main__icon {
    padding: 1.1875rem;
  }

  .main__icon-app::before,
  .main__icon::before {
    font-size: 1.5625rem;
  }

  .main__icon-app::after,
  .main__icon::after {
    width: 3.9375rem;
  }

  .main__icon-app::after,
  .main__icon::after {
    height: 3.9375rem;
  }

  .main__icon-app span,
  .main__icon span {
    width: 3.9375rem;
  }

  .main__icon-app span,
  .main__icon span {
    height: 3.9375rem;
  }

  .content__hi {
    font-size: 1rem;
  }

  .content__hi {
    margin-bottom: 0.625rem;
  }

  .content__title {
    font-size: 3.1875rem;
  }

  .content__text {
    font-size: 1rem;
  }

  .content__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .content__guarantee {
    gap: 0.9375rem;
  }

  .content__guarantee {
    margin-bottom: 18.125rem;
  }

  .label {
    font-size: 1rem;
  }
}

@media (min-width: 22.5em) and (max-width: 78.75em) {
@supports (font-size: clamp( 1.875rem , 1.275rem  +  2.6666666667vw , 3.375rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.275rem  +  2.6666666667vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.275rem  +  2.6666666667vw , 3.375rem )) {
    .title {
      font-size: calc(1.875rem + 1.5 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (width: clamp( 12.1875rem , 9.8875rem  +  10.2222222222vw , 17.9375rem )) {
    .main__logo {
      width: clamp( 12.1875rem , 9.8875rem  +  10.2222222222vw , 17.9375rem );
    }
}

@supports not (width: clamp( 12.1875rem , 9.8875rem  +  10.2222222222vw , 17.9375rem )) {
    .main__logo {
      width: calc(12.1875rem + 5.75 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-top: clamp( 2.25rem , 0.4rem  +  8.2222222222vw , 6.875rem )) {
    .main__content {
      padding-top: clamp( 2.25rem , 0.4rem  +  8.2222222222vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 2.25rem , 0.4rem  +  8.2222222222vw , 6.875rem )) {
    .main__content {
      padding-top: calc(2.25rem + 4.625 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-bottom: clamp( 4.6875rem , 2.1375rem  +  11.3333333333vw , 11.0625rem )) {
    .main__content {
      padding-bottom: clamp( 4.6875rem , 2.1375rem  +  11.3333333333vw , 11.0625rem );
    }
}

@supports not (padding-bottom: clamp( 4.6875rem , 2.1375rem  +  11.3333333333vw , 11.0625rem )) {
    .main__content {
      padding-bottom: calc(4.6875rem + 6.375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__whatsapp,
    .main__headphone {
      width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem );
    }
}

@supports not (width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__whatsapp,
    .main__headphone {
      width: calc(3.9375rem + 2.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding: clamp( 1.1875rem , 0.9125rem  +  1.2222222222vw , 1.875rem )) {
    .main__icon-app,
    .main__icon {
      padding: clamp( 1.1875rem , 0.9125rem  +  1.2222222222vw , 1.875rem );
    }
}

@supports not (padding: clamp( 1.1875rem , 0.9125rem  +  1.2222222222vw , 1.875rem )) {
    .main__icon-app,
    .main__icon {
      padding: calc(1.1875rem + 0.6875 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.1875rem  +  1.6666666667vw , 2.5rem )) {
    .main__icon-app::before,
    .main__icon::before {
      font-size: clamp( 1.5625rem , 1.1875rem  +  1.6666666667vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1875rem  +  1.6666666667vw , 2.5rem )) {
    .main__icon-app::before,
    .main__icon::before {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app::after,
    .main__icon::after {
      width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem );
    }
}

@supports not (width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app::after,
    .main__icon::after {
      width: calc(3.9375rem + 2.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (height: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app::after,
    .main__icon::after {
      height: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem );
    }
}

@supports not (height: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app::after,
    .main__icon::after {
      height: calc(3.9375rem + 2.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app span,
    .main__icon span {
      width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem );
    }
}

@supports not (width: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app span,
    .main__icon span {
      width: calc(3.9375rem + 2.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (height: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app span,
    .main__icon span {
      height: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem );
    }
}

@supports not (height: clamp( 3.9375rem , 3.0125rem  +  4.1111111111vw , 6.25rem )) {
    .main__icon-app span,
    .main__icon span {
      height: calc(3.9375rem + 2.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__hi {
      font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__hi {
      font-size: calc(1rem + 0.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 0.0000000625rem , 0.874999975rem  +  -1.111111vw , 0.625rem )) {
    .content__hi {
      margin-bottom: clamp( 0.0000000625rem , 0.874999975rem  +  -1.111111vw , 0.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , 0.874999975rem  +  -1.111111vw , 0.625rem )) {
    .content__hi {
      margin-bottom: calc(0.625rem + -0.6249999375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 3.1875rem , 1.7625rem  +  6.3333333333vw , 6.75rem )) {
    .content__title {
      font-size: clamp( 3.1875rem , 1.7625rem  +  6.3333333333vw , 6.75rem );
    }
}

@supports not (font-size: clamp( 3.1875rem , 1.7625rem  +  6.3333333333vw , 6.75rem )) {
    .content__title {
      font-size: calc(3.1875rem + 3.5625 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__text {
      font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__text {
      font-size: calc(1rem + 0.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.45rem  +  3vw , 4.8125rem )) {
    .content__text:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 2.45rem  +  3vw , 4.8125rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.45rem  +  3vw , 4.8125rem )) {
    .content__text:not(:last-child) {
      margin-bottom: calc(3.125rem + 1.6875 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem )) {
    .content__guarantee {
      gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem )) {
    .content__guarantee {
      gap: calc(0.9375rem + 1.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 22.875rem  +  -21.1111111111vw , 18.125rem )) {
    .content__guarantee {
      margin-bottom: clamp( 6.25rem , 22.875rem  +  -21.1111111111vw , 18.125rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 22.875rem  +  -21.1111111111vw , 18.125rem )) {
    .content__guarantee {
      margin-bottom: calc(18.125rem + -11.875 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .label {
      font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .label {
      font-size: calc(1rem + 0.125 * (100vw - 22.5rem) / 56.25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #00E0FF;
    color: #FFFFFF;
  }

  .button--blue:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#11b6ab));
    background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #11b6ab 100%);
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #11b6ab 100%);
  }

  .main__icon-app:hover span,
  .main__icon:hover span {
    opacity: 0.2;
  }
}

.webp .decor__image-1{ background: url(../img/main/01.webp) 0 0/100% no-repeat; }

.webp .decor__image-2{ background: url(../img/main/03.webp) 0 0/100% no-repeat; }

.webp .decor__image-3{ background: url(../img/main/02.webp) 0 0/100% no-repeat; }