@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Rosario:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow1:before {
  content: "\e901";
}

._icon-buy:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-instagram1:before {
  content: "\e904";
}

._icon-search:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #555555;
  line-height: 1;
  font-family: "DM Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.09375rem 0 1.09375rem 0.9375rem;
  line-height: 1.66;
  /* 30/18 */
  text-align: center;
  color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 2.25rem;
  border-radius: 5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button::before {
  position: relative;
  z-index: 1;
  top: -0.125rem;
  left: 0;
  font-size: 0.9375rem;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 0;
  right: -1rem;
  background: #09a66d;
  border-radius: 50%;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Rosario";
  font-weight: 700;
  line-height: 1.28;
  /* 90/70 */
  color: #222222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.9);
}

.header._header-scroll {
  position: fixed;
  top: -12.5rem;
}

.header._header-show {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.5rem;
          flex: 0 0 3.5rem;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  position: relative;
  z-index: 5;
}

.header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
}

.menu__link {
  line-height: 1.33;
  /* 24/18 */
  color: #222222;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  border-radius: 0.125rem;
  background: #09a66d;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.action__search,
.action__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  background: #f3fbf8;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action__cart {
  position: relative;
}

.action__cart::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0.375rem;
  height: 0.375rem;
  top: 0.3125rem;
  left: 1.2875rem;
  background-color: #09a66d;
  border-radius: 50%;
}

.action__button {
  line-height: 1.11;
  /* 20/18 */
  color: #ffffff;
  padding: 0.625rem 1.4375rem;
  background: #09a66d;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.item-page {
  background: #f3fbf8;
}

.item-page__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-page__title {
  position: relative;
  z-index: 1;
  text-align: center;
}

.item-page__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-page__text {
  position: relative;
  z-index: 1;
  line-height: 1.66;
  /* 30/18 */
  text-align: center;
  max-width: 39.8125rem;
}

.item-page__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-page__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .item-page__decor{
  background: url("../img/item/fresh1.png") 0 0/contain no-repeat; }

.item-page__decor {
  position: absolute;
  /* -160/1270 */
  opacity: 0.7;
}

.image-block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 69.5%;
          flex: 0 1 69.5%;
  /* 862/1240 */
  -o-object-fit: cover;
     object-fit: cover;
}

.image-block__img img {
  width: 100%;
}

.image-block__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.label__card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.label__card::before {
  content: "";
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.5rem;
          flex: 0 0 3.5rem;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.label__card:nth-child(1)::before {
  background: #f3fbf8 url("../img/item/user.svg") center center no-repeat;
}

.label__card:nth-child(2)::before {
  background: #f3fbf8 url("../img/item/star.svg") center center no-repeat;
}

.label__card:nth-child(3)::before {
  background: #f3fbf8 url("../img/item/harvest.svg") center center no-repeat;
}

.label__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label__value {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  color: #000000;
}

.label__value:not(:last-child) {
  margin-bottom: 0.25rem;
}

.label__info {
  line-height: 1.66;
  /* 30/18 */
  text-align: center;
  color: #000000;
}

.best-page {
  overflow: hidden;
}

.best-page__container {
  position: relative;
}

.best-page__title {
  position: relative;
  z-index: 1;
}

.best-page__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.best-page__tetx {
  position: relative;
  z-index: 1;
  line-height: 1.66;
  /* 30/18 */
  margin: 0 auto;
}

.best-page__tetx:not(:last-child) {
  margin-bottom: 3.5rem;
}

.best-page__block {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.no-webp .best-page__decor{
  background: url("../img/best/decor.png") 0 0 no-repeat; }

.best-page__decor {
  position: absolute;
  width: 59rem;
  height: 33.1875rem;
  top: -17.391304%;
  /* 180/1035 */
  left: 28.425197%;
  /* 361/1270 */
}

.block-best__card-slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25rem;
          flex: 0 1 31.25rem;
  position: relative;
}

.block-best__slider {
  min-height: 31.25rem;
}

.block-best__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-best__slide::before {
  content: "";
  position: relative;
  width: 5rem;
  height: 5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  border-radius: 50%;
}

.no-webp .block-best__slide:nth-child(1)::before, .no-webp .block-best__slide:nth-child(4)::before{
  background: #f3fbf8 url("../img/best/man.png") center center no-repeat; }

.no-webp .block-best__slide:nth-child(2)::before{
  background: #f3fbf8 url("../img/best/shopping.png") center center no-repeat; }

.no-webp .block-best__slide:nth-child(3)::before, .no-webp .block-best__slide:nth-child(5)::before{
  background: #f3fbf8 url("../img/best/time.png") center center no-repeat; }

.block-best__prev {
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: -4.6875rem;
  left: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.block-best__prev::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #09a66d;
}

.block-best__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 31.25rem;
}

.no-webp .block-best__image::after{
  background: url("../img/best/ellipse2.png") 0 0 no-repeat; }

.block-best__image::after {
  content: "";
  position: absolute;
  width: 24rem;
  height: 37.5rem;
  right: 0;
  top: -1.875rem;
}

.block-best__image span {
  position: absolute;
  width: 26.25rem;
  /* 420/635 */
  height: 26.25rem;
  /* 420/635 */
  border-radius: 50%;
  background-color: #09a66d;
  left: 6.71875rem;
  top: 4.25rem;
}

.block-best__image span::before,
.block-best__image span::after {
  content: "";
  position: absolute;
  width: 26.5625rem;
  height: 2.375rem;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.block-best__image span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11.5625rem;
  left: 0.3125rem;
}

.block-best__image span::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 11.5625rem;
  left: -0.375rem;
}

.block-best__image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.block-best .swiper-slide-active {
  background-color: #f3fbf8;
}

.block-best .swiper-slide-active::before {
  background-color: #ffffff;
}

.slide-best__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.slide-best__title {
  font-weight: 700;
  color: #222222;
}

.slide-best__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 0.875rem;
  line-height: 1.42;
  /* 20/14 */
}

.explor-page {
  background: rgba(9, 166, 109, 0.05);
  position: relative;
}

.explor-page__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explor-page__image-ibg {
  top: 0;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.387097%;
          flex: 0 0 48.387097%;
  /* 600/1240 */
  padding-top: 48.780488%;
  /* 600/1230 */
  background-color: rgba(9, 166, 109, 0.1);
}

.explor-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.780488%;
          flex: 0 1 48.780488%;
  /* 600/1230 */
  padding-left: 0.5625rem;
}

.explor-page__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.explor-page__text {
  line-height: 1.66;
  /* 30/18 */
}

.explor-page__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

.no-webp .explor-page__decor{
  background: url("../img/item/fresh1.png") 0 0/100% no-repeat; }

.explor-page__decor {
  position: absolute;
  width: 33.577236%;
  /* 413/1230 */
  height: 47.716346%;
  /* 397/832 */
  right: -4%;
  /* -50/1230 */
  bottom: 0;
}

.image-explor__card {
  position: absolute;
  -webkit-filter: drop-shadow(15px 15px 40px rgba(144, 208, 88, 0.4));
          filter: drop-shadow(15px 15px 40px rgba(144, 208, 88, 0.4));
}

.no-webp .image-explor__card:first-child{
  background: #ffffff url("../img/explor/01.png") 0 center/100% no-repeat; }

.image-explor__card:first-child {
  width: 41.666667%;
  /* 250/600 */
  height: 41.666667%;
  /* 250/600 */
  top: 12.416667%;
  /* 74.5/600 */
  left: 13.666667%;
  /* 82/600 */
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.no-webp .image-explor__card:nth-child(2){
  background: #ffffff url("../img/explor/02.png") 0 center/100% no-repeat; }

.image-explor__card:nth-child(2) {
  width: 34.666667%;
  /* 208/600 */
  height: 34.666667%;
  /* 208/600 */
  left: 0;
  top: 52.333333%;
  /* 314/600 */
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.no-webp .image-explor__card:nth-child(3){
  background: #ffffff url("../img/explor/03.png") 0 center/100% no-repeat; }

.image-explor__card:nth-child(3) {
  width: 33.333333%;
  /* 200/600 */
  height: 33.333333%;
  /* 200/600 */
  left: 66.666667%;
  /* 400/600 */
  top: 10.5%;
  /* 63/600 */
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.no-webp .image-explor__card:nth-child(4){
  background: #ffffff url("../img/explor/04.png") 0 center/100% no-repeat; }

.image-explor__card:nth-child(4) {
  width: 45%;
  /* 270/600 */
  height: 45%;
  /* 270/600 */
  left: 45.333333%;
  /* 272/600 */
  top: 42.833333%;
  /* 257/600 */
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 79.375em) {
  .menu__list {
    gap: 2.5rem;
  }

  .block-best__image span {
    left: 6.71875rem;
  }

  .block-best__image img {
    left: 8.75rem;
  }
}

@media (min-width: 81.25em) {
  .title {
    font-size: 4.375rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .item-page {
    margin-top: 7.1875rem;
  }

  .item-page {
    padding-top: 5.8125rem;
  }

  .item-page {
    padding-bottom: 2.375rem;
  }

  .label__card {
    gap: 1.5rem;
  }

  .best-page {
    padding-top: 9.0625rem;
  }

  .best-page {
    padding-bottom: 9.0625rem;
  }

  .block-best__slide {
    padding-top: 2.5rem;
  }

  .block-best__slide {
    padding-left: 3.75rem;
  }

  .block-best__slide {
    padding-bottom: 2.5rem;
  }

  .block-best__slide {
    padding-right: 3.75rem;
  }

  .explor-page {
    padding-top: 5.5625rem;
  }

  .explor-page {
    padding-bottom: 8.9375rem;
  }
}

@media (min-width: 62em) {
  .item-page__decor {
    width: 38.25rem;
  }

  .item-page__decor {
    height: 25.5rem;
  }

  .item-page__decor {
    top: -5.8125rem;
  }

  .item-page__decor {
    left: -10rem;
  }

  .image-block__label {
    gap: 1.875rem;
  }

  .label__card {
    padding-top: 1.0625rem;
  }

  .label__card {
    padding-bottom: 1.0625rem;
  }

  .label__card {
    padding-left: 2.0625rem;
  }

  .label__card {
    padding-right: 2.875rem;
  }

  .label__value {
    font-size: 3rem;
  }

  .label__info {
    font-size: 1.125rem;
  }
}

@media (max-width: 64em) {
  .best-page__title {
    text-align: center;
  }

  .best-page__tetx {
    max-width: 39.8125rem;
    text-align: center;
  }

  .best-page__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-best__image {
    display: none;
  }

  .block-best__image span {
    left: 0.0000000625rem;
  }

  .block-best__image img {
    left: 2.1875rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 3rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .item-page {
    margin-top: 5.625rem;
  }

  .item-page {
    padding-top: 1.875rem;
  }

  .item-page {
    padding-bottom: 1.875rem;
  }

  .item-page__decor {
    width: 24.1875rem;
  }

  .item-page__decor {
    height: 16.125rem;
  }

  .item-page__decor {
    top: -1.875rem;
  }

  .item-page__decor {
    left: -6.25rem;
  }

  .image-block__label {
    gap: 0.9375rem;
  }

  .label__card {
    padding-top: 0.3125rem;
  }

  .label__card {
    padding-bottom: 0.3125rem;
  }

  .label__card {
    padding-left: 0.3125rem;
  }

  .label__card {
    padding-right: 0.3125rem;
  }

  .label__card {
    gap: 0.625rem;
  }

  .label__value {
    font-size: 1.5rem;
  }

  .label__info {
    font-size: 0.875rem;
  }

  .best-page {
    padding-top: 1.875rem;
  }

  .best-page {
    padding-bottom: 6.25rem;
  }

  .block-best__slide {
    padding-top: 0.625rem;
  }

  .block-best__slide {
    padding-left: 0.9375rem;
  }

  .block-best__slide {
    padding-bottom: 0.625rem;
  }

  .block-best__slide {
    padding-right: 0.9375rem;
  }

  .explor-page {
    padding-top: 1.875rem;
  }

  .explor-page {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .item-page__image-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .image-block__label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .label__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .explor-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .explor-page__image-ibg {
    width: 80%;
    padding-top: 80%;
  }

  .explor-page__content {
    padding-left: 0;
    text-align: center;
  }

  .explor-page__decor {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    background-color: #d7eee6;
    overflow: auto;
    padding: 0rem 0rem 0rem 0rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .header__menu {
    right: 0;
  }

  .menu-open .header__menu::before {
    right: 0;
  }

  .menu__body {
    padding-top: 1.25rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.875rem;
    font-weight: 500;
  }

  .action__search,
  .action__cart {
    background-color: inherit;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #06754d;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    width: 70%;
    top: calc(50% - 0.0625rem);
    right: -0.1875rem;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 81.25em) {
@supports (font-size: clamp( 3rem , 2.5510204082rem  +  2.2448979592vw , 4.375rem )) {
    .title {
      font-size: clamp( 3rem , 2.5510204082rem  +  2.2448979592vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.5510204082rem  +  2.2448979592vw , 4.375rem )) {
    .title {
      font-size: calc(3rem + 1.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem )) {
    .header {
      padding-top: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem )) {
    .header {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem )) {
    .header {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-top: clamp( 5.625rem , 5.1147959184rem  +  2.5510204082vw , 7.1875rem )) {
    .item-page {
      margin-top: clamp( 5.625rem , 5.1147959184rem  +  2.5510204082vw , 7.1875rem );
    }
}

@supports not (margin-top: clamp( 5.625rem , 5.1147959184rem  +  2.5510204082vw , 7.1875rem )) {
    .item-page {
      margin-top: calc(5.625rem + 1.5625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5892857143rem  +  6.4285714286vw , 5.8125rem )) {
    .item-page {
      padding-top: clamp( 1.875rem , 0.5892857143rem  +  6.4285714286vw , 5.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5892857143rem  +  6.4285714286vw , 5.8125rem )) {
    .item-page {
      padding-top: calc(1.875rem + 3.9375 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.7117346939rem  +  0.8163265306vw , 2.375rem )) {
    .item-page {
      padding-bottom: clamp( 1.875rem , 1.7117346939rem  +  0.8163265306vw , 2.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.7117346939rem  +  0.8163265306vw , 2.375rem )) {
    .item-page {
      padding-bottom: calc(1.875rem + 0.5 * (100vw - 20rem) / 61.25);
    }
}

@supports (gap: clamp( 0.625rem , 0.3392857143rem  +  1.4285714286vw , 1.5rem )) {
    .label__card {
      gap: clamp( 0.625rem , 0.3392857143rem  +  1.4285714286vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3392857143rem  +  1.4285714286vw , 1.5rem )) {
    .label__card {
      gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.4719387755rem  +  11.7346938776vw , 9.0625rem )) {
    .best-page {
      padding-top: clamp( 1.875rem , -0.4719387755rem  +  11.7346938776vw , 9.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.4719387755rem  +  11.7346938776vw , 9.0625rem )) {
    .best-page {
      padding-top: calc(1.875rem + 7.1875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.3316326531rem  +  4.5918367347vw , 9.0625rem )) {
    .best-page {
      padding-bottom: clamp( 6.25rem , 5.3316326531rem  +  4.5918367347vw , 9.0625rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.3316326531rem  +  4.5918367347vw , 9.0625rem )) {
    .best-page {
      padding-bottom: calc(6.25rem + 2.8125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem )) {
    .block-best__slide {
      padding-top: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem )) {
    .block-best__slide {
      padding-top: calc(0.625rem + 1.875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.0191326531rem  +  4.5918367347vw , 3.75rem )) {
    .block-best__slide {
      padding-left: clamp( 0.9375rem , 0.0191326531rem  +  4.5918367347vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.0191326531rem  +  4.5918367347vw , 3.75rem )) {
    .block-best__slide {
      padding-left: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem )) {
    .block-best__slide {
      padding-bottom: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem )) {
    .block-best__slide {
      padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.0191326531rem  +  4.5918367347vw , 3.75rem )) {
    .block-best__slide {
      padding-right: clamp( 0.9375rem , 0.0191326531rem  +  4.5918367347vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.0191326531rem  +  4.5918367347vw , 3.75rem )) {
    .block-best__slide {
      padding-right: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6709183673rem  +  6.0204081633vw , 5.5625rem )) {
    .explor-page {
      padding-top: clamp( 1.875rem , 0.6709183673rem  +  6.0204081633vw , 5.5625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6709183673rem  +  6.0204081633vw , 5.5625rem )) {
    .explor-page {
      padding-top: calc(1.875rem + 3.6875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.431122449rem  +  11.5306122449vw , 8.9375rem )) {
    .explor-page {
      padding-bottom: clamp( 1.875rem , -0.431122449rem  +  11.5306122449vw , 8.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.431122449rem  +  11.5306122449vw , 8.9375rem )) {
    .explor-page {
      padding-bottom: calc(1.875rem + 7.0625 * (100vw - 20rem) / 61.25);
    }
}
}

@media (min-width: 48em) and (max-width: 79.375em) {
@supports (gap: clamp( 0.9375rem , -1.452938247rem  +  4.9800796813vw , 2.5rem )) {
    .menu__list {
      gap: clamp( 0.9375rem , -1.452938247rem  +  4.9800796813vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -1.452938247rem  +  4.9800796813vw , 2.5rem )) {
    .menu__list {
      gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 31.375);
    }
}
}

@media (min-width: 20em) and (max-width: 62em) {
@supports (width: clamp( 24.1875rem , 17.4910714286rem  +  33.4821428571vw , 38.25rem )) {
    .item-page__decor {
      width: clamp( 24.1875rem , 17.4910714286rem  +  33.4821428571vw , 38.25rem );
    }
}

@supports not (width: clamp( 24.1875rem , 17.4910714286rem  +  33.4821428571vw , 38.25rem )) {
    .item-page__decor {
      width: calc(24.1875rem + 14.0625 * (100vw - 20rem) / 42);
    }
}

@supports (height: clamp( 16.125rem , 11.6607142857rem  +  22.3214285714vw , 25.5rem )) {
    .item-page__decor {
      height: clamp( 16.125rem , 11.6607142857rem  +  22.3214285714vw , 25.5rem );
    }
}

@supports not (height: clamp( 16.125rem , 11.6607142857rem  +  22.3214285714vw , 25.5rem )) {
    .item-page__decor {
      height: calc(16.125rem + 9.375 * (100vw - 20rem) / 42);
    }
}

@supports (top: clamp( -5.8125rem , 0.0000000625rem  +  -9.375vw , -1.875rem )) {
    .item-page__decor {
      top: clamp( -5.8125rem , 0.0000000625rem  +  -9.375vw , -1.875rem );
    }
}

@supports not (top: clamp( -5.8125rem , 0.0000000625rem  +  -9.375vw , -1.875rem )) {
    .item-page__decor {
      top: calc(-1.875rem + -3.9375 * (100vw - 20rem) / 42);
    }
}

@supports (left: clamp( -10rem , -4.4642857143rem  +  -8.9285714286vw , -6.25rem )) {
    .item-page__decor {
      left: clamp( -10rem , -4.4642857143rem  +  -8.9285714286vw , -6.25rem );
    }
}

@supports not (left: clamp( -10rem , -4.4642857143rem  +  -8.9285714286vw , -6.25rem )) {
    .item-page__decor {
      left: calc(-6.25rem + -3.75 * (100vw - 20rem) / 42);
    }
}

@supports (gap: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 1.875rem )) {
    .image-block__label {
      gap: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 1.875rem )) {
    .image-block__label {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 42);
    }
}

@supports (padding-top: clamp( 0.3125rem , -0.0446428571rem  +  1.7857142857vw , 1.0625rem )) {
    .label__card {
      padding-top: clamp( 0.3125rem , -0.0446428571rem  +  1.7857142857vw , 1.0625rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , -0.0446428571rem  +  1.7857142857vw , 1.0625rem )) {
    .label__card {
      padding-top: calc(0.3125rem + 0.75 * (100vw - 20rem) / 42);
    }
}

@supports (padding-bottom: clamp( 0.3125rem , -0.0446428571rem  +  1.7857142857vw , 1.0625rem )) {
    .label__card {
      padding-bottom: clamp( 0.3125rem , -0.0446428571rem  +  1.7857142857vw , 1.0625rem );
    }
}

@supports not (padding-bottom: clamp( 0.3125rem , -0.0446428571rem  +  1.7857142857vw , 1.0625rem )) {
    .label__card {
      padding-bottom: calc(0.3125rem + 0.75 * (100vw - 20rem) / 42);
    }
}

@supports (padding-left: clamp( 0.3125rem , -0.5208333333rem  +  4.1666666667vw , 2.0625rem )) {
    .label__card {
      padding-left: clamp( 0.3125rem , -0.5208333333rem  +  4.1666666667vw , 2.0625rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -0.5208333333rem  +  4.1666666667vw , 2.0625rem )) {
    .label__card {
      padding-left: calc(0.3125rem + 1.75 * (100vw - 20rem) / 42);
    }
}

@supports (padding-right: clamp( 0.3125rem , -0.9077380952rem  +  6.1011904762vw , 2.875rem )) {
    .label__card {
      padding-right: clamp( 0.3125rem , -0.9077380952rem  +  6.1011904762vw , 2.875rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -0.9077380952rem  +  6.1011904762vw , 2.875rem )) {
    .label__card {
      padding-right: calc(0.3125rem + 2.5625 * (100vw - 20rem) / 42);
    }
}

@supports (font-size: clamp( 1.5rem , 0.7857142857rem  +  3.5714285714vw , 3rem )) {
    .label__value {
      font-size: clamp( 1.5rem , 0.7857142857rem  +  3.5714285714vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.7857142857rem  +  3.5714285714vw , 3rem )) {
    .label__value {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 42);
    }
}

@supports (font-size: clamp( 0.875rem , 0.755952381rem  +  0.5952380952vw , 1.125rem )) {
    .label__info {
      font-size: clamp( 0.875rem , 0.755952381rem  +  0.5952380952vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.755952381rem  +  0.5952380952vw , 1.125rem )) {
    .label__info {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 42);
    }
}
}

@media (min-width: 64em) and (max-width: 79.375em) {
@supports (left: clamp( 0.0000000625rem , -27.9674793521rem  +  43.6991865854vw , 6.71875rem )) {
    .block-best__image span {
      left: clamp( 0.0000000625rem , -27.9674793521rem  +  43.6991865854vw , 6.71875rem );
    }
}

@supports not (left: clamp( 0.0000000625rem , -27.9674793521rem  +  43.6991865854vw , 6.71875rem )) {
    .block-best__image span {
      left: calc(0.0000000625rem + 6.7187499375 * (100vw - 64rem) / 15.375);
    }
}

@supports (left: clamp( 2.1875rem , -25.1295731707rem  +  42.6829268293vw , 8.75rem )) {
    .block-best__image img {
      left: clamp( 2.1875rem , -25.1295731707rem  +  42.6829268293vw , 8.75rem );
    }
}

@supports not (left: clamp( 2.1875rem , -25.1295731707rem  +  42.6829268293vw , 8.75rem )) {
    .block-best__image img {
      left: calc(2.1875rem + 6.5625 * (100vw - 64rem) / 15.375);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(9, 166, 108, 0.2);
  }

  .button:hover::before {
    left: 0.25rem;
  }

  .menu__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .action__search:hover,
  .action__cart:hover {
    background: #c3e7da;
  }

  .action__button:hover {
    background: #06754d;
  }

  .label__card:hover {
    -webkit-box-shadow: 0 0 5px rgba(51, 122, 36, 0.7);
            box-shadow: 0 0 5px rgba(51, 122, 36, 0.7);
  }

  .block-best__prev:hover {
    background-color: #f3fbf8;
  }
}

.webp .item-page__decor{ background: url(../img/item/fresh1.webp) 0 0/contain no-repeat; }

.webp .best-page__decor{ background: url(../img/best/decor.webp) 0 0 no-repeat; }

.webp .block-best__slide:nth-child(1)::before, .webp .block-best__slide:nth-child(4)::before{ background: #f3fbf8 url(../img/best/man.webp) center center no-repeat; }

.webp .block-best__slide:nth-child(2)::before{ background: #f3fbf8 url(../img/best/shopping.webp) center center no-repeat; }

.webp .block-best__slide:nth-child(3)::before, .webp .block-best__slide:nth-child(5)::before{ background: #f3fbf8 url(../img/best/time.webp) center center no-repeat; }

.webp .block-best__image::after{ background: url(../img/best/ellipse2.webp) 0 0 no-repeat; }

.webp .explor-page__decor{ background: url(../img/item/fresh1.webp) 0 0/100% no-repeat; }

.webp .image-explor__card:first-child{ background: #ffffff url(../img/explor/01.webp) 0 center/100% no-repeat; }

.webp .image-explor__card:nth-child(2){ background: #ffffff url(../img/explor/02.webp) 0 center/100% no-repeat; }

.webp .image-explor__card:nth-child(3){ background: #ffffff url(../img/explor/03.webp) 0 center/100% no-repeat; }

.webp .image-explor__card:nth-child(4){ background: #ffffff url(../img/explor/04.webp) 0 center/100% no-repeat; }